body {
  font-family: Helvetica, Arial, sans-serif;
  color: darkgreen; }

h1 {
  font-size: 35px;
  font-family: Helvetica, Arial, sans-serif;
  color: darkgreen; }

h2 {
  font-size: 25px;
  font-family: Helvetica, Arial, sans-serif;
  color: darkgreen; }

h3 {
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  color: darkgreen; }

.myLinks {
  text-decoration: none;
  color: darkgreen; }

.widelabel {
  display: -moz-inline-block;
  display: inline-block;
  width: 120px;
  color: darkgreen; }

.LinkButton:hover {
  font-weight: bold;
  color: red; }

.movieInfo {
  max-height: 280px;
  overflow: auto;
  border-style: outset;
  background-color: white;
  border-radius: 5px;
  color: purple;
  width: 700px; }
